.day {
  background-color: #ffffff;
  vertical-align: top; 
  display: inline-block; 
  padding: 16px; 
  border: 1px; 
  border-color: black; 
  border-style: solid;
  margin: 1px;
  width: 230px;
}
.notes {
  vertical-align: top; 
  margin: 2px; 
  padding: 0;
  list-style: none;
}
.day_description {
  margin: 0;
  font-size: 16px;
  padding: 0;
  background-color: red;
}
.ul_notas{
  padding: 10px;
  background-color: white;
}